<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="/formpage.css">
	</head>
	<body>
		<h1>Connected NBA</h1>
		<h3> Please Enter Two Player's Names </h3>
		<form action = "/result" th:action="@{/result}" th:object="${submission}" method="post">
			<label for="player1">Player 1:</label></br>
			<input type="text" id="player1" name="player1" placeholder="Stephen Curry" th:field="*{player1}"></br>
			<label for="player2">Player 2:</label></br>
			<input type="text" id="player2" name="player2" placeholder="Shaquille Oneal" th:field="*{player2}"></br>
			<input class="submit-button" type="submit" value="Submit">
		</form>
	</body>
</html>